@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3e9f1;
  height: 100%;
}

p {
  font-family: "Times New Roman", Times, serif;
}

a {
  font-family: "Times New Roman", Times, serif;
  color: unset;
  cursor: pointer;
}

li {
  list-style: none;
}

h1 {
  color: #cb7d55;
  font-size: 3rem;
  text-align: center;
}
@media screen and (max-width: 599px) {
  h1 {
    margin-top: 2rem;
    font-size: 2rem;
  }
}

h1 {
  font-family: "Rock Salt", cursive;
}

h2 {
  color: #cb7d55;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h3 {
  color: grey;
}

form {
  margin: 1em;
}

label {
  color: grey;
  font-size: 12px;
}

.user-icon {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 5em;
  color: #8f5ffa;
}

select, #quantity {
  width: 120px;
  background-color: #FFF;
  border: none;
  padding: 0.2em;
  color: #cb7d55;
}

.empty-cart {
  text-align: center;
  margin-top: 100px;
}

.display-form {
  display: none;
}

.display-btn {
  visibility: hidden;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s;
}

.bloc-login {
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
}
.bloc-login .deroulant .good-morning {
  font-size: 12px;
}
.bloc-login .deroulant .good-morning::after {
  content: "▼";
  font-size: 12px;
  color: #8f5ffa;
}
.bloc-login .deroulant .sub-menu {
  display: none;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
.bloc-login .deroulant .sub-menu li {
  float: none;
  width: 100%;
  text-align: left;
}
.bloc-login .deroulant .sub-menu li a {
  padding: 10px;
  border-bottom: none;
  font-size: 12px;
}
.bloc-login .deroulant .sub-menu li a:hover {
  border-bottom: none;
}
.bloc-login .deroulant:hover .sub-menu {
  display: block;
}

.menu-nav {
  background-color: #f3e9f1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #cccbcb;
  z-index: 10;
}
.menu-nav .logo {
  width: auto;
  height: 50px;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .menu-nav .logo {
    height: 30px;
  }
}
.menu-nav .nav-link {
  display: flex;
  align-items: center;
}
.menu-nav .nav-link li {
  padding: 1em;
}
.menu-nav .nav-link .nav-icon-cart .fa-cart-plus {
  color: #8f5ffa;
  padding: 0.7em;
  position: absolute;
}
.menu-nav .nav-link .nav-icon-cart .fa-cart-plus:hover {
  box-shadow: 1px 1px 4px 1px #afafaf;
  border-radius: 100%;
}
.menu-nav .nav-link .nav-icon-cart .cart-items {
  color: #cb7d55;
  font-size: 18px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  top: -7px;
  left: 18px;
}
@media screen and (max-width: 768px) {
  .menu-nav {
    display: none;
  }
}

.sidebar {
  display: none;
}
@media screen and (max-width: 768px) {
  .sidebar {
    display: block;
    background-color: #f3e9f1;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #cccbcb;
  }
}
.sidebar .sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .sidebar-logo .logo {
  width: auto;
  height: 50px;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .sidebar .sidebar-logo .logo {
    height: 40px;
  }
}
.sidebar .nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar .nav-link .fa-bars {
  font-size: 20px;
  color: #8f5ffa;
}
.sidebar .nav-link li {
  padding: 1em;
}
.sidebar .nav-link .nav-icon-cart .fa-cart-plus {
  color: #8f5ffa;
  padding: 0.7em;
  position: absolute;
}
.sidebar .nav-link .nav-icon-cart .fa-cart-plus:hover {
  box-shadow: 1px 1px 4px 1px #afafaf;
  border-radius: 100%;
}
.sidebar .nav-link .nav-icon-cart .cart-items {
  color: #cb7d55;
  font-size: 18px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  top: -7px;
  left: 18px;
}
.sidebar .menu-link {
  position: fixed;
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  background: white;
  opacity: 0.9;
  z-index: 4;
}
.sidebar .menu-link li {
  padding: 1em;
}
@media screen and (max-width: 599px) {
  .sidebar .menu-link {
    width: 60%;
  }
}

/*______HEADER_______*/
.header {
  background-image: url(/images/bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.header .header-bloc {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*______HEADER END_______*/
/*_____ PRODUCT IN CART_______*/
.section__productsInCart {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__productsInCart .products__cart--list {
  width: 80%;
}
.section__productsInCart .products__cart--list .show-product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 1px 1px 0 #afafaf;
  border-radius: 15px;
  padding: 0.5rem;
}
.section__productsInCart .products__cart--list .show-product .products-img {
  width: 35%;
}
.section__productsInCart .products__cart--list .show-product .products-img .img-camera {
  width: 150px;
  height: auto;
  margin-right: 5px;
}
@media screen and (max-width: 599px) {
  .section__productsInCart .products__cart--list .show-product .products-img .img-camera {
    width: 100%;
    height: auto;
  }
}
.section__productsInCart .products__cart--list .show-product .show-product-infos {
  width: 35%;
}
.section__productsInCart .products__cart--list .show-product .show-product-infos .name-product {
  color: #cb7d55;
}
.section__productsInCart .products__cart--list .show-product .show-product-infos .fa-chevron-up, .section__productsInCart .products__cart--list .show-product .show-product-infos .fa-chevron-down {
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.section__productsInCart .products__cart--list .show-product .show-product-infos .fa-chevron-up:hover, .section__productsInCart .products__cart--list .show-product .show-product-infos .fa-chevron-down:hover {
  color: #cb7d55;
}
.section__productsInCart .products__cart--list .show-product .price-product {
  width: 20%;
  display: flex;
  justify-content: flex-start;
}
.section__productsInCart .products__cart--list .show-product h3 {
  font-size: 15px;
  margin-left: 0;
}
@media screen and (max-width: 768px) {
  .section__productsInCart .products__cart--list .show-product h3 {
    margin-top: 10px;
  }
}
.section__productsInCart .products__cart--list .show-product .fa-trash-alt {
  color: #970a0a;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .section__productsInCart .products__cart--list {
    width: 98%;
  }
}
.section__productsInCart .btn {
  border: 1px solid #cb7d55;
  padding: 0.6em;
  background-color: #f3e9f1;
  border-radius: 10px;
  color: #cb7d55;
  cursor: pointer;
}
.section__productsInCart .btn:hover {
  color: white;
  background-color: #cb7d55;
}

/*______PRODUCT IN CART _______*/
/*______INFOS CART _______*/
.section__infosCart {
  margin-top: 20px;
  width: 100%;
  height: 100px;
}
.section__infosCart .infos-cart {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/*_____ CART PAGE MAIN CONTAINER_______*/
.get-in-touch {
  max-width: 600px;
  margin: 50px auto;
  position: relative;
  padding: 1em;
}

input {
  background-color: #f3e9f1;
  color: grey;
}

.contact-form .form-field {
  position: relative;
  margin: 15px 0;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 30px;
  border-color: #cb7d55;
  font-size: 15px;
  line-height: 10px;
  font-weight: 400;
}

.contact-form .input-text:focus {
  outline: none;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-14px);
  transform: translateY(-14px);
}

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 16px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #cb7d55;
  cursor: text;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

/*______CART END _______*/
/*______CONFIRM ORDER _______*/
.confirm-order p {
  line-height: 10px;
}

/*______CONFIRM ORDER END _______*/
.section__showProduct {
  display: flex;
  justify-content: center;
  width: 90%;
  height: auto;
  flex-wrap: wrap;
}
.section__showProduct .display-product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.section__showProduct .display-product .show-product {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section__showProduct .display-product .show-product .products-img .img-camera {
  width: 30rem;
  height: auto;
  box-shadow: 1px 1px 5px 1px grey;
}
@media screen and (max-width: 599px) {
  .section__showProduct .display-product .show-product .products-img .img-camera {
    width: 100%;
    margin: 0;
  }
}
.section__showProduct .display-product .show-product .infos-product {
  margin-left: 30px;
}
@media screen and (max-width: 599px) {
  .section__showProduct .display-product .show-product {
    display: block;
  }
}

/*______SECTION PRODUITS_______*/
.section__products {
  display: flex;
  justify-content: center;
}
.section__products .section__products--bloc {
  margin-top: 30px;
  width: 70%;
}
.section__products .section__products--bloc .show-product {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .section__products .section__products--bloc .show-product {
    margin: 1em;
    padding: 1em;
  }
}
@media screen and (max-width: 599px) {
  .section__products .section__products--bloc .show-product h2 {
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .section__products .section__products--bloc .show-product {
    display: block;
  }
}
.section__products .section__products--bloc .show-product .products-img {
  margin-right: 20px;
  width: 70%;
}
.section__products .section__products--bloc .show-product .products-img .img-cameras {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .section__products .section__products--bloc .show-product .products-img {
    margin-right: 0px;
    width: 100%;
  }
}
@media screen and (max-width: 599px) {
  .section__products .section__products--bloc {
    width: 100%;
  }
}

/*______END SECTION PRODUITS_______*/
/*______NEWSLETTER_______*/
.newsletter {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter .content {
  display: flex;
  justify-content: center;
}
.newsletter .content .input-group input {
  border: none;
  width: 100%;
  margin-bottom: 50px;
}
@media screen and (max-width: 599px) {
  .newsletter .content .input-group input {
    width: auto;
  }
}
.newsletter .content .btn-newsletter {
  background-color: #cb7d55;
  color: white;
}

/*______NEWSLETTER END_______*/
/*______FOOTER_______*/
footer {
  background-color: #e2d1de;
}
footer .footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-first-bloc {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .footer-first-bloc .secure-payment,
footer .footer-first-bloc .delivery,
footer .footer-first-bloc .satisfy {
  text-align: center;
  line-height: 5px;
}
footer .footer-first-bloc .secure-payment .fas,
footer .footer-first-bloc .delivery .fas,
footer .footer-first-bloc .satisfy .fas {
  font-size: 20px;
  margin-top: 30px;
  color: #383838;
}
footer .footer-second-bloc {
  border-top: 1px solid #cccbcb;
}
footer .footer-element {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media screen and (max-width: 599px) {
  footer .footer-element {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }
}
footer .footer-element .footer-text {
  display: block;
}
footer .fab {
  font-size: 30px;
  margin-top: 20px;
}
footer p {
  font-size: 10px;
  margin-top: 20px;
}
footer .bold {
  font-weight: bold;
}
footer .fa-facebook-f:hover {
  color: #3b5998;
}
footer .fa-instagram:hover {
  color: #3f729b;
}
footer .fa-pinterest:hover {
  color: #e60023;
}
footer .fa-twitter:hover {
  color: #00acee;
}

/*______FOOTER END_______*/
.btn {
  display: inline-block;
  background-image: linear-gradient(125deg, #cb7d55, #8f5ffa);
  color: #fff;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 4px 8px;
  border: none;
  width: auto;
  margin-bottom: 10px;
  cursor: pointer;
}
.btn:hover {
  background-image: linear-gradient(125deg, #8f5ffa, #cb7d55);
  color: #fff;
}

.btn-grey {
  display: inline-block;
  color: #830404;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-grey:hover {
  background-color: #830404;
  color: #fff;
}

.divider {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.divider .span-divider {
  width: 100px;
  height: 2px;
  background: linear-gradient(1300deg, #cb7d55, #8f5ffa);
}

.main {
  width: auto;
  height: 570px;
  padding: 1em;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main .txtb {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 10px 0;
}
.main .txtb input {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}
.main .txtb span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.5s;
}
.main .txtb span::after {
  top: 100%;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(1300deg, #cb7d55, #8f5ffa);
  transition: 0.5s;
}
.main .focus + span::before {
  top: -5px;
}
.main .focus + span::after {
  width: 100%;
}
.main .btn-signup {
  cursor: pointer;
  background-image: linear-gradient(1300deg, #cb7d55, #8f5ffa);
  width: 100%;
  height: 40px;
  color: white;
  outline: none;
  border: none;
}
.main .logbtn:hover {
  background-position: right;
}
.main .btn-signup:hover,
.main .logbtn:hover {
  background-image: linear-gradient(1300deg, #8f5ffa, #cb7d55);
}
@media screen and (max-width: 599px) {
  .main {
    width: 100%;
  }
}
.main p {
  padding: 1em;
}

.contact-form {
  display: flex;
  justify-content: center;
}
.contact-form .btn {
  color: #FFF;
  margin-top: 50px;
}
.contact-form input, .contact-form textarea {
  border: none;
}
.contact-form input:focus {
  border: 1px solid #cb7d55;
}

.section__confirm {
  display: flex;
  justify-content: center;
}
.section__confirm .section__confirm--bloc {
  width: 50%;
  height: 100%;
}
.section__confirm .section__confirm--bloc p {
  font-size: 20px;
  margin: 20px;
}
.section__confirm .section__confirm--bloc .div-check {
  display: flex;
  justify-content: center;
}
.section__confirm .section__confirm--bloc .div-check .fa-check {
  color: #0b700b;
  font-size: 50px;
  text-align: center;
}
@media screen and (max-width: 599px) {
  .section__confirm .section__confirm--bloc {
    width: 80%;
  }
}

h1 {
  margin-top: 30px;
  font-size: 30px;
}

/*# sourceMappingURL=style.css.map */
