/*______FOOTER_______*/
footer{

  .footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-element{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

  /*______FOOTER END_______*/