/*______FOOTER_______*/
footer {
  box-shadow: 1px 1px 3px 1px grey;
  .footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-element {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    @include forMobile{
      display: inline-block;
      text-align: center;
    }
    .footer-text {
      display: block;
    }
  }
  .fab {
    font-size: 30px;
    margin-top: 20px;
  }

  p {
    font-size: 10px;
    margin-top: 20px;
  }
  .footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // social medias
  .fa-facebook-f:hover{
    color: #3b5998;
  }
  .fa-instagram:hover{
    color: #3f729b;
  }
  .fa-pinterest:hover{
    color: #e60023;
  }
  .fa-twitter:hover{
    color: #00ACEE;
  }
}

/*______FOOTER END_______*/
