.bloc-login {
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    .deroulant {
      .good-morning {
          font-size: 12px;
        &::after {
          content: "▼";
          font-size: 12px;
          color: $second-color;
        }
      }
      .sub-menu {
        display: none;
        background-color: white;
        position: absolute;
        width: 100%;
        z-index: 1000;
        li {
          float: none;
          width: 100%;
          text-align: left;
          a {
            padding: 10px;
            border-bottom: none;
            font-size: 12px;
            &:hover {
              border-bottom: none;
            }
          }
        }
      }
      &:hover .sub-menu{
          display: block;
      }
    }
  }