/*______NAV_______*/
.menu-nav{
    background-color: $main-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 1px 4px 1px rgb(175, 175, 175);
    .logo {
      width: auto;
      height: 70px;
      @media screen and(max-width: 599px) {
        height: 50px;
      }
    }
  }
  .logo {
    width: auto;
    height: 60px;
    cursor: pointer;
  }
  .nav-link{
    display: flex;
    align-items: center;
    li{
      padding: 1em;
    }
  }
  
  .fa-cart-plus {
    color: $second-color;
    padding: .7em;
    position: absolute;
    &:hover{
      box-shadow: 1px 1px 4px 1px rgb(175, 175, 175);
      border-radius: 100%;
    }
  }
  .cart-items{
    color: $third-color;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: -7px;
    left: 18px;
  }
  /*______NAV END_______*/
  
  .nav-login{
    display: flex;
    justify-content: flex-end;
    
  }

  .sous{
    display: none;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
}
.deroulant > a::after{
    content:"▼";
    font-size: 12px;
    color: $second-color;
}
  