<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&family=Permanent+Marker&display=swap"
        rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <!-- CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <!-- favicon-->
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <!-- title-->
    <title>Orinoco | Connexion</title>
</head>
<body>
    <section class="container">
        <div class="main">
            <div class="user-icon">
                <i class="fas fa-user-circle"></i>
            </div>
                <h1>Connexion</h1>
                <form action="/" class="login-form" method="POST">
                    <div class="txtb">
                        <input type="text" name="username" id="username" class="input">
                        <span data-placeholder="Identifiant"></span>
                    </div>
                    <div class="txtb">
                        <input type="password" name="password" id="password" class="input">
                        <span data-placeholder="Mot de passe"></span>
                    </div>
                    <input type="submit" class="btn-signup" value="Rentrer">
                </form>
                <p> Vous n'avez pas de compte? <a href="signup.html">Créez votre compte</a></p>
        </div>   
    </section>
</body>

</html>