
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: $main-color;
    height: 100%;
  }
 
  p {
    font-family:'Times New Roman', Times, serif;
  }
  
  a {
    font-family:'Times New Roman', Times, serif;
    color: unset;
    cursor: pointer;
  }
  
  li {
    list-style: none;
  }
  
  h1 {
    color: $third-color;;
    font-size: 3rem;
    text-align: center;
    @include forMobile{
        margin-top: 2rem;
        font-size: 2rem;
    }
  }
  
  h1{
    font-family: 'Rock Salt', cursive;;
  }
  h2{
    color: $third-color;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  h3{
    color: grey;
  }
  form{
      margin: 1em;
  }
  label{
    color: grey;
    font-size: 12px;
  }

  .user-icon{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 5em;
    color: $second-color;
  }
  
  select,  #quantity{
    width: 120px;
    background-color: #FFF;
    border: none;
    padding: 0.2em;
    color: $third-color;
  }
  
  
  .empty-cart{
    text-align: center;
    margin-top: 100px;
  }
  
  .display-form{
    display: none;
  }

  .display-btn{
    visibility: hidden;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: .5s;
  }