<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&family=Permanent+Marker&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <!-- CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <title>Accueil | Votre panier</title>
</head>

<body>
    <main>
        <!--nav-->
        <nav class="navbar navbar-expand-lg navbar-light menu-nav ">
            <a href="/index.html"><img src="/images/orinoco.png" alt="logo_orinoco" class="logo"></a>
            <ul class="nav-link">
                <li> <a href="/index.html">Produits</a></li>
                <li> <a href="contact.html">Contact</a></li>
                <div class="nav-icon-cart">
                    <a href="panier.html"><i class="fas fa-cart-plus"></i></a>
                    <span class="cart-items ">0</span>
                </div>
            </ul>
        </nav>
        <!--nav end-->
        <!--nav mobiles-->
        <nav class="sidebar">
            <ul class="nav-link">
                <li><i class="fas fa-bars"></i></li>
                <li class="sidebar-logo">
                    <a href="/index.html"><img src="/images/orinoco.png" alt="logo_orinoco" class="logo"></a>
                </li>
                <li class="nav-icon-cart">
                    <a href="/views/Cart/panier.html"><i class="fas fa-cart-plus"></i></a>
                    <span class="cart-items cart-items-mobiles">0</span>
                </li>
            </ul>
        </nav>
        <!--nav mobiles-->
        <!--header-->
        <header>
            <h1> Panier</h1>
        </header>
        <div class="divider">
            <div class="span-divider"></div>
        </div>
        <!--header end-->
        <!--section infos cart-->
        <section class="section__infosCart">
            <div class="infos-cart">
                <div>
                    <button class="btn-grey btn-clear-cart" type="button"> Vider le panier</button>
                </div>
                <div>
                    <h4> Total: <span class="cart-total-order">0</span>€</h4>
                </div>
            </div>
        </section>
        <!--section infos cart end-->
        <!--section display product-->
        <section class="section__productsInCart">
            <div class="products__cart--list">
                <!-- products in cart-->
            </div>
        </section>
        <!--section display product end-->
        <!--section form-->
        <section class="get-in-touch section-form">
            <button class="btn btn-payment"> Poursuivre</button>
            <div class="show-form display-form">
                <h2>Renseignez vos informations</h2>
                <form class="contact-form row">
                    <div class="form-field col-lg-6">
                        <input id="name" class="input-text form-control js-input" type="text" required maxlength="50">
                        <label class="label" for="name">Nom</label>
                    </div>
                    <div class="form-field col-lg-6 ">
                        <input id="firstName" class="input-text form-control js-input" type="text" required
                            maxlength="50">
                        <label class="label" for="firstName">Prénom</label>
                    </div>
                    <div class="form-field col-lg-12 ">
                        <input id="email" class="input-text form-control js-input" type="email" required maxlength="50">
                        <label class="label" for="email">E-mail</label>
                    </div>
                    <div class="form-field col-lg-12">
                        <input id="adress" class="input-text form-control js-input" type="text" required
                            maxlength="250">
                        <label class="label" for="adress">Adresse</label>
                    </div>
                    <div class="form-field col-lg-6 ">
                        <input id="city" class="input-text form-control js-input" type="text" required maxlength="20">
                        <label class="label" for="city">Ville</label>
                    </div>
                    <div class="form-field col-lg-6 ">
                        <input id="postCard" class="input-text form-control js-input" type="number" maxlength="5">
                        <label class="label" for="postCard">Code postale</label>
                    </div>
                    <div class="form-field col-lg-6">
                        <input id="accept" type="checkbox" required>
                        <label for="accept">J'accepte</label>
                        <p>J'ai lu et j'accepte les <a href="#">conditions générales d'utilisation</a></p>
                    </div>
                    <p class="requiredInput"></p>
                    <!--SUBMIT-->
                    <div class="form-field col-lg-12">
                        <input class="submit-btn btn" type="submit" value="Valider">
                    </div>
                </form>
            </div>
            <!--Details order and confirm-->
            <div>
                <div class="confirm-order">
                    <!-- From js-->
                </div>
                <button class="btn display-btn" id="confirm-btn">Confirmé</button>
            </div>

        </section>
        <!--section form-->
        <!-- Footer -->
        <footer class="page-footer font-small">
            <!--Display from JS-->
        </footer>
        <!-- Footer End -->

    </main>
    <!--SCRIPTS--> 
    <script src="../Cart/productInCart.js"></script>
    <script src="../displayNav.js"></script>
    <script src="../displayFooter.js"></script>
    <script type="module" src="../Cart/cart.js"></script>
</body>

</html>