/*_____ PRODUCT IN CART_______*/
.section__productsInCart {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .products__cart--list {
    width: 80%;
    .show-product {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      box-shadow: 0 1px 1px 0 rgb(175, 175, 175);
      border-radius: 15px;
      padding: 0.5rem;
      .products-img {
        width: 35%;
        .img-camera {
          width: 150px;
          height: auto;
          margin-right: 5px;
          //box-shadow: 1px 1px 5px 1px grey;
          @include forMobile {
            width: 100%;
            height: auto;
          }
        }
      }
      .show-product-infos {
        width: 35%;
        .name-product {
          color: $third-color;
        }
      }
      .price-product{
        width: 20%;
        display: flex;
        justify-content: flex-start;
      }
      h3 {
        font-size: 15px;
        margin-left: 0;
        @include forTablet {
          margin-top: 10px;
        }
      }
      .fa-trash-alt {
        color: rgb(151, 10, 10);
        cursor: pointer;
      }
    }
    @include forMobile{
      width: 98%;
    }

  }

  .btn {
    border: 1px solid $third-color;
    padding: 0.6em;
    background-color: $main-color;
    border-radius: 10px;
    color: $third-color;
    cursor: pointer;
    &:hover {
      color: white;
      background-color: $third-color;
    }
  }
}
/*______PRODUCT IN CART _______*/

/*______INFOS CART _______*/
.section__infosCart {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  .infos-cart {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

/*_____ CART PAGE MAIN CONTAINER_______*/

.get-in-touch {
  max-width: 600px;
  margin: 50px auto;
  position: relative;
  padding: 1em;
}

input {
  background-color: $main-color;
  color: grey;
}
.contact-form .form-field {
  position: relative;
  margin: 15px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 30px;
  border-color: $third-color;
  font-size: 15px;
  line-height: 10px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: $third-color;
  cursor: text;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

/*______CART END _______*/

/*______CONFIRM ORDER _______*/
.confirm-order {
  p {
    line-height: 10px;
  }
}
/*______CONFIRM ORDER END _______*/
