.main {
  width: auto;
  height: 570px;
  padding: 1em;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .txtb {
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 10px 0;
  }
  .txtb input {
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
  }
  .txtb span::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.5s;
  }

  .txtb span::after {
    top: 100%;
    left: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(120deg, $third-color, $second-color);
    transition: 0.5s;
  }

  .focus + span::before {
    top: -5px;
  }

  .focus + span::after {
    width: 100%;
  }
  .btn-signup {
    cursor: pointer;
    background-image: linear-gradient(1300deg, $third-color, $second-color);
    width: 100%;
    height: 40px;
    color: white;
    outline: none;
    border: none;
  }
  .logbtn:hover {
    background-position: right;
  }
  .btn-signup,
  .logbtn {
    &:hover {
      background-image: linear-gradient(1300deg, $second-color, $third-color);
    }
  }
  @include forMobile {
    width: 100%;
  }
}
