/*______SECTION PRODUITS_______*/
.section__products {
  display: flex;
  justify-content: center;
  .section__products--bloc {
    margin-top: 30px;
    width: 70%;
    .show-product {
      padding: 1em;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      background-color: rgb(240, 228, 241);
      border: 1px solid rgba(252, 248, 248, 0.5);
      @media screen and(max-width: 900px) {
        display: block;
      }
      .products-img {
        margin-right: 20px;
        width: 70%;
        .img-cameras {
          width: 100%;
          height: auto;
          box-shadow: 1px 1px 4px 1px grey;
          border-radius: 5px;
        }
        @media screen and(max-width: 900px) {
          margin-right: 0px;
          width: 100%;
        }
      }
      .btn {
        border: 1px solid $third-color;
        padding: 0.6em;
        background-color: $main-color;
        border-radius: 10px;
        color: $third-color;
        cursor: pointer;
        &:hover {
          color: white;
          background-color: $third-color;
        }
      }
    }
    @media screen and(max-width: 599px) {
      width: 100%;
    }
  }
}

/*______END SECTION PRODUITS_______*/

/*______NEWSLETTER_______*/
.newsletter{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;;
  background-image: url(/images/vintage_camera.jpg);
  background-size: cover;
  .btn-newsletter{
    background-color: $third-color;
    color: white;
  }
}
/*______NEWSLETTER END_______*/
