<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&family=Permanent+Marker&display=swap"
        rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <!-- CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <!-- favicon-->
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <!-- title-->
    <title>Orinoco | Contactez-nous</title>
</head>

<body>
    <main>
        <!--nav-->
        <nav class="navbar navbar-expand-lg navbar-light menu-nav">
            <a href="index.html"><img src="/images/orinoco.png" alt="logo_orinoco" class="logo"></a>
            <ul class="nav-link">
                <div class="nav-icon-cart">
                    <a href="panier.html"><i class="fas fa-cart-plus"></i></a>
                    <span class="cart-items">0</span>
                </div>
            </ul>
        </nav>
        <!--nav end-->
        <!--header-->
        <header>
            <div class="header-bloc">
                <h1 class="text-center"> Contactez-nous!</h1>
            </div>
        </header>
        <!--header end-->
        <!--Section: Contact v.2-->
        <section class="mb-4">
            <!--Section description-->
            <p class="text-center w-responsive mx-auto mb-5">Avant de nous contacter, avez-vous regardé notre <a href="#">FAQ</a>? La
                réponse à votre question s'y trouve peut-être.</p>
            <div class="row contact-form">
                <!--Grid column-->
                <div class="col-md-9 mb-md-5 mb-0">
                    <form id="contact-form" name="contact-form" method="POST">
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <label for="name" class="">Nom</label>
                                    <input type="text" id="name" name="name" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <label for="email" class="">E-mail</label>
                                    <input type="text" id="email" name="email" class="form-control">
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <label for="subject" class="">Sujet</label>
                                    <input type="text" id="subject" name="subject" class="form-control">
                                </div>
                            </div>
                            <!--Grid row-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <label for="ref" class="">réference dossier</label>
                                    <input type="text" id="ref" name="subject" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="md-form">
                                    <label for="message">Votre message</label>
                                    <textarea type="text" id="message" name="message" rows="2"
                                        class="form-control md-textarea"></textarea>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
                    </form>
                    <div class="text-center text-md-left">
                        <a class="btn btn-primary">Envoyer</a>
                    </div>
                    <div class="status"></div>
                </div>
                <!--Grid column-->
            </div>
        </section>
        <!--Section: Contact v.2-->
        <!-- Footer -->
        <footer class="page-footer font-small">
            <!--Display from JS-->
        </footer>
        <!-- Footer End -->
    </main>
    <!--SCRIPTS-->
    <script src="../js/displayFooter.js"></script>
    <script src="../js/productInCart.js"></script>
</body>

</html>