<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&family=Permanent+Marker&display=swap"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <!-- CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <title>Accueil | Votre panier</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light menu-nav ">
        <a href="index.html"><img src="/images/orinoco.png" alt="logo_orinoco" class="logo"></a>
        <ul class="nav-link">
            <li> <a href="index.html">Produits</a></li>
            <li> <a href="contact.html">Contact</a></li>
            <div>
                <a href="panier.html"><i class="fas fa-cart-plus"></i></a>
                <span class="cart-items">0</span>
            </div>
        </ul>
    </nav>
    <header>
        <h1> Panier</h1>
    </header>
    <section class="section__productsInCart">
        <div class="products__cart--list">
            <!-- products in cart-->
        </div>
        <!-- Total pannier-->
    </section>
    <section class="section__infosCart">
        <div class="infos-cart">
            <div>
            </div>
            <div>
                <button class="btn btn-clear-cart" type="button"> Vider le panier</button>
            </div>
            <div>
                <h4> Total <span class="cart-total">0</span>€</h4>
            </div>
        </div>
    </section>
    <!--form-->
    <section class="get-in-touch">
        <button class="btn btn-payment"> Paiement</button>
        <form class="contact-form row displayForm">
            <div class="form-field col-lg-6">
                <input id="name" class="input-text js-input" type="text" required>
                <label class="label" for="name">Nom</label>
            </div>
            <div class="form-field col-lg-6 ">
                <input id="firstName" class="input-text js-input" type="text" required>
                <label class="label" for="firstName">Prénom</label>
            </div>
            <div class="form-field col-lg-6 ">
                <input id="email" class="input-text js-input" type="email" required>
                <label class="label" for="email">E-mail</label>
            </div>
            <div class="form-field col-lg-6 ">
                <input id="phone" class="input-text js-input" type="tel" required>
                <label class="label" for="phone">Téléphone</label>
            </div>
            <div class="form-field col-lg-12">
                <input id="adress" class="input-text js-input" type="text" required>
                <label class="label" for="adress">Adresse</label>
            </div>
            <div class="form-field col-lg-6 ">
                <input id="city" class="input-text js-input" type="text" required>
                <label class="label" for="city">Ville</label>
            </div>
            <div class="form-field col-lg-6 ">
                <input id="postCard" class="input-text js-input" type="number" required maxlength="5">
                <label class="label" for="postCard">Code postale</label>
            </div>

            <div class="form-field col-lg-12">
                <input class="submit-btn btn" type="submit" value="Poursuivre">
            </div>
        </form>
    </section>

    <!-- Footer -->
    <footer class="page-footer font-small">
        <!-- Footer Elements -->
        <div class="footer-element col-md-12 py-2">
            <div class="footer-text">
                <ul>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Mentions légales</a></li>
                </ul>
            </div>
            <div>
                <!-- Facebook -->
                <a class="fb-ic">
                    <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                    <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                    <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!--Pinterest-->
                <a class="pin-ic">
                    <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                </a>
            </div>
            <div>
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-amex"></i>
                <i class="fab fa-cc-paypal"></i>
            </div>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <p>© 2020 Copyright - <a href="#"> Orinoco</a></p>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer End -->
    <script type="module" src="../js/cart.js"></script>
    <script src="../js/productInCart.js"></script>
</body>

</html>